#  EQUAL WEIGHT S&P 500 Index Fund

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

# Importing Out List of Stocks

In [70]:
stocks = pd.read_csv('C:/Users/sidka/Downloads/sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

# Acquiring an API token

In [71]:
from secrets import IEX_CLOUD_API_TOKEN

# Making Our first API Call
### We need The following from API Calls
 Market Cap for each stock
 
 Price for each stock

In [294]:
symbol = 'AAPL'
api_url = f"https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}"
data = requests.get(api_url).json()
data.keys()

dict_keys(['avgTotalVolume', 'calculationPrice', 'change', 'changePercent', 'close', 'closeSource', 'closeTime', 'companyName', 'currency', 'delayedPrice', 'delayedPriceTime', 'extendedChange', 'extendedChangePercent', 'extendedPrice', 'extendedPriceTime', 'high', 'highSource', 'highTime', 'iexAskPrice', 'iexAskSize', 'iexBidPrice', 'iexBidSize', 'iexClose', 'iexCloseTime', 'iexLastUpdated', 'iexMarketPercent', 'iexOpen', 'iexOpenTime', 'iexRealtimePrice', 'iexRealtimeSize', 'iexVolume', 'lastTradeTime', 'latestPrice', 'latestSource', 'latestTime', 'latestUpdate', 'latestVolume', 'low', 'lowSource', 'lowTime', 'marketCap', 'oddLotDelayedPrice', 'oddLotDelayedPriceTime', 'open', 'openTime', 'openSource', 'peRatio', 'previousClose', 'previousVolume', 'primaryExchange', 'symbol', 'volume', 'week52High', 'week52Low', 'ytdChange', 'isUSMarketOpen'])

In [295]:
columns = ['Ticker', 'Price', 'Market Capitalization', 'Number of Shares to Buy']
new_df = pd.DataFrame(columns = columns)



def add_cols(item):
    symbol = item['Ticker']
    num = 0
    try:
        api_url = api_url = f"https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}"
        data = requests.get(api_url).json()
        item['Price'] = data['latestPrice']
        item['Market Capitalization'] = data['marketCap']
        item['Number of Shares to Buy'] = "N/A"
        return item
    except:
        num += 1
        print(num)
    
    
df = stocks.apply(add_cols, axis=1)

1
1
1
1
1
1
1

# USING Batch API Call

In [296]:
df.head()

  Ticker   Price  Market Capitalization Number of Shares to Buy
0      A  126.05           3.723212e+10                     N/A
1    AAL   16.79           1.096996e+10                     N/A
2    AAP   73.17           4.349507e+09                     N/A
3   AAPL  195.83           3.080152e+12                     N/A
4   ABBV  150.85           2.661431e+11                     N/A

In [297]:
# Function to split a list into chunks of size n
def chunks_split(lst, size):
    for i in range(0, len(lst), size):
        yield lst[i:i + size]

In [298]:
grps = list(chunks_split(stocks['Ticker'].values, 100))

In [299]:
comma_sep_grps = []
for i in range(0, len(grps)):
    comma_sep_grps.append(','.join(grps[i]))

In [300]:
final_dataframe = pd.DataFrame(columns=columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [301]:
lst_series = []
for comma_sep_grp in comma_sep_grps:
    batch_api_request = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={comma_sep_grp}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_request).json()
    for symbol in comma_sep_grp.split(','):
        try:
            temp_series = pd.Series([
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['quote']['marketCap'],
                'N/A'
            ], index=columns)
            lst_series.append(temp_series)
        except:
            pass
        
final_dataframe = pd.DataFrame(lst_series)

In [302]:
final_dataframe

    Ticker   Price  Market Capitalization Number of Shares to Buy
0        A  126.05           3.723212e+10                     N/A
1      AAL   16.79           1.096996e+10                     N/A
2      AAP   73.17           4.349507e+09                     N/A
3     AAPL  195.83           3.080152e+12                     N/A
4     ABBV  150.85           2.661431e+11                     N/A
..     ...     ...                    ...                     ...
496    YUM  136.94           3.835511e+10                     N/A
497    ZBH  139.34           2.906204e+10                     N/A
498   ZBRA  299.18           1.538693e+10                     N/A
499   ZION   38.69           5.730016e+09                     N/A
500    ZTS  189.90           8.775510e+10                     N/A

[501 rows x 4 columns]

# Calculating the number of shares to buy

In [303]:
portfolio_size = input("Enter the size of your portfolio: ")
try:
    value = float(portfolio_size)
except TypeError:
    print("Please Enter a number/float value!")
    portfolio_size = input("Enter the size of your portfolio: ")
    value = float(portfolio_size)

Enter the size of your portfolio: 1000000

In [304]:
positional_size = value/len(final_dataframe.index)

def num_shares_to_buy(x):
    x['Number of Shares to Buy'] = math.floor(positional_size / x['Price'])
    return x

final_dataframe.transform(num_shares_to_buy, axis=1)

    Ticker   Price Market Capitalization Number of Shares to Buy
0        A  126.05         37232121859.0                      15
1      AAL   16.79         10969955300.0                     118
2      AAP   73.17          4349506651.0                      27
3     AAPL  195.83       3080151712660.0                      10
4     ABBV  150.85        266143098228.0                      13
..     ...     ...                   ...                     ...
496    YUM  136.94         38355111452.0                      14
497    ZBH  139.34         29062044172.0                      14
498   ZBRA  299.18         15386928523.0                       6
499   ZION   38.69          5730016122.0                      51
500    ZTS   189.9         87755095386.0                      10

[501 rows x 4 columns]

# Using xlsxwriter

In [305]:
writer = pd.ExcelWriter("recommended trades.xlsx", engine='xlsxwriter')

In [307]:
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

In [314]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
{
    'font_color': font_color,
    'bg_color': background_color,
    'border': 1
})

dollar_format = writer.book.add_format(
{
    'num_format': '$0.00'
    'font_color': font_color,
    'bg_color': background_color,
    'border': 1
})
integer_format = writer.book.add_format(
{
    'num_format': '0.00'
    'font_color': font_color,
    'bg_color': background_color,
    'border': 1
})